USE [master]
GO
/****** Object:  Database [QwiikAgency]    Script Date: 07/06/2024 09:15:57 ******/
CREATE DATABASE [QwiikAgency]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QwiikAgency2', FILENAME = N'E:\SQLDB\QwiikAgency2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QwiikAgency2_log', FILENAME = N'E:\SQLDB\QwiikAgency2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QwiikAgency].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QwiikAgency]
GO
/****** Object:  Table [dbo].[AGENCY]    Script Date: 07/06/2024 09:15:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENCY](
	[AGENCY_ID] [int] IDENTITY(1,1) NOT NULL,
	[AGENCY_NAME] [varchar](200) NOT NULL,
	[AGENCY_ADDRESS] [varchar](max) NULL,
	[AGENCY_PHONE] [varchar](50) NULL,
	[AGENCY_MAX_APPOINTMENT] [int] NOT NULL,
 CONSTRAINT [PK_Agency] PRIMARY KEY CLUSTERED 
(
	[AGENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPOINTMENT]    Script Date: 07/06/2024 09:15:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENT](
	[APPOINTMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[AGENCY_ID] [int] NOT NULL,
	[CUST_ID] [int] NOT NULL,
	[APPOINTMENT_DATE] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[APPOINTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 07/06/2024 09:15:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUST_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUST_NAME] [varchar](200) NOT NULL,
	[CUST_ADDRESS] [varchar](max) NULL,
	[CUST_PHONE] [varchar](50) NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OFFDAY]    Script Date: 07/06/2024 09:15:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFFDAY](
	[ID] [int] NOT NULL,
	[AGENCY_ID] [int] NOT NULL,
	[OFF_DATE] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_OFFDAY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AGENCY] ON 

INSERT [dbo].[AGENCY] ([AGENCY_ID], [AGENCY_NAME], [AGENCY_ADDRESS], [AGENCY_PHONE], [AGENCY_MAX_APPOINTMENT]) VALUES (1, N'Agency1', N'Agency1 Address', N'12345', 5)
INSERT [dbo].[AGENCY] ([AGENCY_ID], [AGENCY_NAME], [AGENCY_ADDRESS], [AGENCY_PHONE], [AGENCY_MAX_APPOINTMENT]) VALUES (2, N'Agency2', N'Agency2 Address', N'12345', 10)
INSERT [dbo].[AGENCY] ([AGENCY_ID], [AGENCY_NAME], [AGENCY_ADDRESS], [AGENCY_PHONE], [AGENCY_MAX_APPOINTMENT]) VALUES (3, N'agency 3', N'agency 3 address', N'123456', 10)
SET IDENTITY_INSERT [dbo].[AGENCY] OFF
GO
SET IDENTITY_INSERT [dbo].[APPOINTMENT] ON 

INSERT [dbo].[APPOINTMENT] ([APPOINTMENT_ID], [AGENCY_ID], [CUST_ID], [APPOINTMENT_DATE]) VALUES (3, 1, 1, CAST(N'2024-06-07T02:13:00' AS SmallDateTime))
INSERT [dbo].[APPOINTMENT] ([APPOINTMENT_ID], [AGENCY_ID], [CUST_ID], [APPOINTMENT_DATE]) VALUES (8, 1, 3, CAST(N'2024-06-07T00:00:00' AS SmallDateTime))
INSERT [dbo].[APPOINTMENT] ([APPOINTMENT_ID], [AGENCY_ID], [CUST_ID], [APPOINTMENT_DATE]) VALUES (10, 1, 2, CAST(N'2024-06-07T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[APPOINTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([CUST_ID], [CUST_NAME], [CUST_ADDRESS], [CUST_PHONE]) VALUES (1, N'Customer 1', N'Customer 1 Address', N'12345')
INSERT [dbo].[CUSTOMER] ([CUST_ID], [CUST_NAME], [CUST_ADDRESS], [CUST_PHONE]) VALUES (2, N'Customer 2', N'Customer 2 Address', N'12345')
INSERT [dbo].[CUSTOMER] ([CUST_ID], [CUST_NAME], [CUST_ADDRESS], [CUST_PHONE]) VALUES (3, N'Customer 3', N'Customer Address', N'12345')
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
GO
INSERT [dbo].[OFFDAY] ([ID], [AGENCY_ID], [OFF_DATE]) VALUES (0, 1, CAST(N'2024-06-09T00:00:00' AS SmallDateTime))
GO
USE [master]
GO
